@import "/src/assets/sass/utilities/variables.scss";

::ng-deep .mat-content {
  display: block !important;
}

.title-profile {
  font-size: 20px;
  color: $blackTitles;
}

.help-section {
  text-align: right;
  margin-bottom: 0.5em;
  font-size: 12px;
  .doubts {
    margin-right: 1em;
  }
}

.button-help {
  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 5px;
  color: $blue;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
}

.stepper {
  border-bottom: 1px solid #e1e7df;
  top: -15px;
}

.num-credits {
  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 50%;
  font-size: 11px;
  margin-right: 1em;
  padding: 3px 5px;
  height: 18px;
  display: inline-flex;
  line-height: 1;
  color: $blue;
  vertical-align: text-top;
}

.title-panelOne {
  color: $gray;
  font-weight: 500;
}

.schedule {
  align-self: center;
  .date-start {
    font-size: 24px;
    font-weight: 500;
    color: $blackTitles;
  }

  .hour-start {
    font-size: 18px;
    color: $gray;
    margin-left: 0.3em;
  }
}

.card-info {
  border-radius: 0.5em;
  background-color: #6a6a81;
  color: $white;
  p {
    margin-bottom: 1px;
  }
  .info-hour {
    font-size: 11px;
    line-height: initial;
    padding: 8px 8px;
    white-space: nowrap;
    font-weight: 100;
    strong {
      font-weight: 500 !important;
      color: $white;
    }
  }
}

.subtitles {
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  color: $black;
  margin-bottom: 0;
  line-height: 1.5;
}

.subtitle-percent {
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  color: $gray;
  margin-bottom: 0;
}

.panelExpOne {
  mat-expansion-panel {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 1px -2px rgb(0 0 0 / 20%),
      0px 0px 2px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
  }
}

.panelExpAll {
  mat-expansion-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 1px -2px rgb(0 0 0 / 20%),
      0px 0px 2px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
  }
}

.quantity {
  font-size: 12px;
  font-weight: 600;
  color: $black;
  margin-left: 0.7em;
}

.card {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// radiobutton
.form-check-label {
  font-size: 12px;
  color: $gray;
}

.form-control {
  height: calc(0.75em + 0.75rem + 2px);
  border-radius: 0.1rem;
}

.form-check {
  margin-bottom: 0 !important;
}

.form-check-inline .form-check-input {
  margin-right: 1em;
}

.button-content {
  text-align: -webkit-right;
}

.concluido{
  background: white;
  padding: 0 24px;
  border-radius: 4px;
}

.selected{
  background-color:#2196F3;
  color:white;

}
.nonSelected{
  background-color:lightgrey;
  color:white;
}

table{
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .help-section {
    .doubts {
      margin-right: 0.7em;
    }
  }

  .card-info {
    .info-hour {
      white-space: normal;
    }
  }
}

@media screen and (max-width: 575px) {
  .help-section {
    text-align: center;
    display: grid;
    .doubts {
      margin-right: 0;
    }
    .button-help {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  .help-sectionMobile {
    text-align: center;
    margin-top: 1rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .stepper {
    top: -12px;
  }

  .edit-button {
    display: grid;
  }

  .titlePanel-mobile {
    display: flex;
    align-items: center;
  }

  .schedule {
    text-align: center;
    display: grid;
    .date-start {
      font-size: 36px !important;
      margin-bottom: 1rem;
    }
    .hour-start {
      font-size: 22px !important;
      margin-bottom: 1rem;
    }
  }

  .card-info {
    .info-hour {
      font-size: 16px;
      text-align: center;
    }
  }

  .register-schedule {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .schedule {
    .date-start {
      font-size: 30px !important;
    }
  }

  .card-info {
    .info-hour {
      font-size: 12px;
      padding: 8px 4px;
    }
  }

  .mat-expansion-panel-header {
    height: 70px !important;
  }

  .form-check-inline {
    display: block !important;
    margin-right: 0rem !important;
}
}



// ngb-collapseProfile

// .card {
//   padding: 0px ;
//   border: none;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .card-body {
//   padding: 0.2rem 1rem;
// }

// .button-chevron{
//     font-weight: 400;
//     color: #212529;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.2rem 0;
//     font-size: 1rem;
//     line-height: 1.5;
//     border-radius: 0.25rem;
//     float: right;
// }
