<div class="row no-gutters">
  <div class="col-12 col-lg-6">
    <div class="container">
      <div class="row pt-4">
        <div class="col-12 col-md-7">
          <p class="title-profile">Valida tu perfil administrativo</p>
        </div>
        <div class="help-section col-12 col-md-5 d-none d-sm-block">
          <span class="doubts">¿Tienes dudas?</span>
          <button class="button-help">Contáctanos</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenOne = true"
              (closed)="panelOpenOne = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="titlePanel-mobile">
                    <button class="num-credits">1</button>
                    <span class="title-panelOne"
                      >El turno para elaborar tu horario es:</span
                    >
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="stepper col-12"></div>
              <div class="row no-gutters ">
                <div class="schedule col-12 col-md-8">
                  <span class="date-start">11 Enero 2021</span>
                  <span class="hour-start">(11:00 AM)</span>
                </div>
                <div *ngIf="edited" class="card-info col-12 col-md-4">
                  <p class="info-hour">
                    Faltan <strong>10 días</strong>, <strong>12 horas</strong>,
                    <strong>34 minutos</strong> <br />para iniciar tu
                    inscripción
                  </p>
                </div>
                <div *ngIf="!edited" class="col-12 col-md-4">
                  <dynamic-button
                    routerLink="/selection-training-units"
                    type="button1 green"
                    title="Inicia tu inscripción"
                  ></dynamic-button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="help-sectionMobile col-12 d-block d-sm-none">
          <span class="doubts">¿Tienes dudas?</span>
          <dynamic-button 
            type="button transparent"
            title="Contáctanos"
          ></dynamic-button>
        </div>
      </div>

      <!-- 2 -->
      <div class="row mt-4">
        <div class="col-12">
          <mat-accordion class="panelExpOne">
            <mat-expansion-panel
              (opened)="panelOpenThree = true"
              (closed)="panelOpenTwo = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="titlePanel-mobile">
                    <button class="num-credits">2</button>
                    <span class="title-panelOne"
                      >Consulta tus apoyos educativos</span
                    >
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="stepper col-12"></div>
              <div class="row no-gutters">
                <div class="col-12">
                  <p class="subtitles">Beca y colegiatura</p>
                  <p class="subtitle-percent">15 %</p>
                </div>
                <div class="col-12">
                  <p class="subtitles">Préstamos educativo</p>
                  <p class="subtitle-percent">15 %</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion class="panelExpAll">
            <mat-expansion-panel
              (opened)="panelOpenTwo = true"
              (closed)="panelOpenTwo = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="titlePanel-mobile">
                    <button class="num-credits">3</button>
                    <span class="title-panelOne"
                      >Consulta tu seguro por colegiatura</span
                    >
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="stepper col-12"></div>
              <div class="row no-gutters">
                <div class="col-12">
                  <p class="subtitle-percent">$1626.00</p>
                </div>
                <div class="edit-button col-12 col-md-6 mt-3 mb-3">
                  <button class="button-help">
                    Editar datos de facturación de colegiatura
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion class="panelExpAll">
            <mat-expansion-panel
              (opened)="panelOpenTwo = true"
              (closed)="panelOpenTwo = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="titlePanel-mobile">
                    <button class="num-credits">4</button>
                    <span class="title-panelOne"
                      >Selecciona tu seguro de gastos médicos mayores</span
                    >
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="stepper col-12"></div>
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Deseo contratar SGMM
                    </label>
                    <span class="quantity">($3,253.00)</span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio2"
                      value="option2"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >Cambiar a SGMM cobertura máxima
                    </label>
                    <span class="quantity">($3,253.00)</span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio3"
                      value="option3"
                      (click)="openCancelSGSM()"
                    />
                    <label class="form-check-label" for="inlineRadio3"
                      >Cancelar SGMM</label
                    >
                  </div>
                </div>
                <div class="edit-button col-12 col-md-6 mt-3 mb-3">
                  <button class="button-help">
                    Editar datos de facturación de SGMM
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion class="panelExpAll">
            <mat-expansion-panel
              (opened)="panelOpenTwo = true"
              (closed)="panelOpenTwo = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="titlePanel-mobile">
                    <button class="num-credits">5</button>
                    <span class="title-panelOne"
                      >Selecciona tu plan de pagos</span
                    >
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="stepper col-12"></div>
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio4"
                      value="option4"
                    />
                    <label class="form-check-label" for="inlineRadio4"
                      >Plan pago de contado</label
                    >
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio5"
                      value="option5"
                    />
                    <label class="form-check-label" for="inlineRadio5"
                      >Plan 5 parcialidades</label
                    >
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 button-content mt-3">
                  <div class="col-12 col-md-3 p-0">
                    <dynamic-button
                      type="button "
                      title="Guardar cambios"
                    ></dynamic-button>
                  </div>
                  <div class="col-12 mt-2 p-0 d-block d-sm-none">
                    <dynamic-button
                      type="button transparent"
                      title="Regresar"
                    ></dynamic-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>