<div class="row">
    <div class="col-12 col-md-2">
      <div class="title-text">
        <input
          class="form-control form-control-placeholdericon"
          type="search"
          id="search"
          name="search"
          placeholder="&#xF002;  Buscar"
        />
      </div>
    </div>
    <div class="content-dropdown col-6 col-md-2">
      <ng-multiselect-dropdown
        class="Tipo"
        [placeholder]="'Tipo de vista'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  
    <div class="content-dropdown col-6 col-md-2">
      <ng-multiselect-dropdown
        [placeholder]="'Periodo'"
        [settings]="dropdownSettings"
        [data]="dropdownList1"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  
    <div class="content-dropdown col-6 col-md-2">
      <ng-multiselect-dropdown
        [placeholder]="'Tipo'"
        [settings]="dropdownSettings"
        [data]="dropdownList2"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  
    <div class="content-dropdown col-6 col-md-2">
      <ng-multiselect-dropdown
        [placeholder]="'Horario'"
        [settings]="dropdownSettings"
        [data]="dropdownList3"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  
  <div class="row mt-3" *ngIf="selectedItems.length">
    <div class="col-12">
      <div class="card">
        <div class="content-filters">
          <span class="title-filter">Filtros: </span>
          <span class="items-selected" *ngFor="let item of selectedItems">
            <span style="text-transform: capitalize; color: gray"
              >Vista: {{ item.item_text }}</span
            >
            <mat-icon
              (click)="removeItems(item)"
              class="material-icons-round"
              aria-label="alarm icon"
              >cancel</mat-icon
            >
          </span>
          <button class="link-button" (click)="clearAllItems()">
            Borrar filtros
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <ng-template #noselected> // (esto va en ngif)> 0 else noselected
      <p>No hay datos</p>
  </ng-template> -->
  