<div class="content-side" [class.sidenav-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container
    class="style-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="mobileQuery.matches ? 'false' : 'true'"
      position="end"
      [fixedInViewport]="mobileQuery.matches"
    >
      <mat-nav-list>
        <div class="row no-gutters">
          <div class="col-12 pr-0 pl-0">
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
              <li [ngbNavItem]="1" class="col-6">
                <a ngbNavLink style="box-shadow: inset 8px 0 10px -6px #cfcece"
                  >CALENDARIO</a
                >
                <ng-template ngbNavContent>
                  <div class="containerCalendar">
                    <p>Aqui va el calendario</p>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2" class="col-6">
                <a ngbNavLink>MATERIAS</a>
                <ng-template ngbNavContent>
                  <div class="containerMateria">
                    <p>aqui va los card de las materias</p>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-4"></div>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="example-sidenav-content" autosize>
        <button
          class="closeside-button"
          type="button"
          mat-button
          (click)="snav.toggle()"
          (click)="expandSidebar()"
        >
          <mat-icon class="material-icons-round" aria-label="alarm icon">
            {{ arrowChange }}</mat-icon
          >
        </button>
      </div>
      <div class="content row">
        <div class="card-container">
          <div class="stepper col-md-12 mb-3 text-center">
            <img width="auto" src="../../../assets/images/stepper-4.png" />
          </div>
          <div class="row no-gutters text-start">
            <div class="col-12">
              <p class="paragraph mb-0">
                Estas explorando
                <strong> ESTUDIOS CREATIVOS</strong> para enfocarte en
                <strong> ARTE DIGITAL</strong>
              </p>
              <a
                href="#"
                style="
                  text-decoration: underline;
                  font-weight: 600;
                  font-size: 12px;
                "
              >
                <p>Consulta tu avance en tu Plan de Estudios</p>
              </a>
            </div>
            <div class="col-12">
              <div class="title-text mt-3">
                <span class="title"
                  >Selecciona cada Unidad de Formación para ver su horario y
                  selecciona una clase para inscribirla</span
                >
              </div>
            </div>
            <div class="col-12 py-3">
              <search-filters></search-filters>
            </div>
          </div>
          <div class="text-start mt-3">
            <training-blocks></training-blocks>
          </div>
        </div>
      </div>

      <!-- toolbar side -->
      <div class="toolbar-footer-sidebar">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="content-responsive col-12">
              <div class="credits-avalible col-12 col-md-3">
                <span>Carga mínima: </span><span>3 créditos</span><br />
                <span>Carga máima: </span><span>18 créditos</span>
              </div>
              <div class="credits-text col-12 col-md-6">
                <h3 class="mb-0">
                  Tienes 18
                  <button class="credits-disponible"></button>
                  créditos disponibles
                </h3>
              </div>
              <div class="content-btn col-12 col-md-3 col-xl-2">
                <dynamic-button
                  type="button "
                  title="Guardar cambios"
                ></dynamic-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
