@import '../../../../../assets/sass/utilities/variables.scss';

.modal-body {
  padding: 0 1rem;
}

.card-body {
  padding: 1rem 2rem 0 0.5rem;
  background-color: aliceblue;
}

.title-steps{
  color: $gray;
  font-weight: 500;
}

.steps-follow{
  list-style: decimal;
  padding-left: 1rem;
  line-height: normal;
  margin-bottom: 0rem;
  .list-steps {
    margin-bottom: 0.5rem;
    font-size: 12px;
  }
}

.policy {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  color: $gray;
  p {
    margin-bottom: 0;
  }
}

.btn-policy {
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  color: $white;
  padding: 0.6em;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  width: auto;
  max-width: 100%;
  margin-left: 2em;
}

.footer-content {
  display: flex;
  flex-flow: row-reverse;
}

@media screen and (max-width: 575px) {
  .footer-content {
    flex-direction: column-reverse;
    .button-return {
      padding: 0;
      margin-bottom: 0.5rem;
    }
  }

  .policy {
    display: contents;
    align-items: center;
  }

  .btn-policy{
    width: 100%;
    margin-left: 0em;
}
}
