<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Formulario para usar otro seguro
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
    >
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="card mt-3">
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-12">
          <p class="title-steps">Pasos para cancelar tu seguro</p>
          <ul class="steps-follow">
            <li class="list-steps">
              Descarga el formato de Carta Responisva y pide al responsable del pago de tu colegiatura que la llene y firme.
              <a href="/">Descargar formato de Carta Responsiva</a>
            </li>
            <li class="list-steps">
              Captura los datos solicitados a continuación.
            </li>
            <li class="list-steps">
              Anexa la Carta responisva y la carátula de poliza de tu seguro, ambas en formato PDF, la cual debe estar vigente durante el periodo academico completo.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-2">
      <span class="title">Tipo de póliza</span>
    </div>
    <div class="col-12">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio5"
          value="option5"
        />
        <label class="form-check-label" for="inlineRadio5"
          >Individual</label
        >
      </div>
    </div>
    <div class="col-12">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio5"
          value="option5"
        />
        <label class="form-check-label" for="inlineRadio5"
          >Colectiva</label
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Forma de pago de póliza</span>
    </div>
    <div class="col-12">
      <select class="form-select form-select-sm" aria-label="form-select-sm example">
        <option selected>Mensual</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Compañía de seguro</span>
    </div>
    <div class="col-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Número de póliza</span>
    </div>
    <div class="col-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Suma asegurada</span>
    </div>
    <div class="col-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Número de certificado (Colectivo o empresa)</span>
    </div>
    <div class="col-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Fecha inicio de vigencia</span>
    </div>
    <div class="col-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Carta de justificación</span>
    </div>
    <div class="col-12">
      <div class="policy">
        <p>nombre de archivo.pdf</p>
        <button type="button" class="btn-policy">Seleccionar archivo</button>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="title-text col-12 mt-3 mb-1">
      <span class="title">Póliza o certificado</span>
    </div>
    <div class="col-12">
      <div class="policy">
        <p>nombre de archivo.pdf</p>
        <button type="button" class="btn-policy">Seleccionar archivo</button>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 footer-content mt-3">
      <div class="col-12 col-md-4 p-0 ">
        <dynamic-button
          type="button "
          title="Guardar cambios"
        ></dynamic-button>
      </div>
      <div class="button-return col-12 col-md-3">
        <dynamic-button
          type="button transparent"
          title="Regresar"
        ></dynamic-button>
      </div>
    </div>
  </div>
</div>
