.modal {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

.modal-content,
.modal-footer {
  border: none !important;
}

.modal-header {
  height: 4em;
  color: $white;
  background-color: $gray;
  .close {
    color: $white;
    line-height: inherit;
    font-weight: 100;
    opacity: 1;
    text-shadow: none;
    padding: 0.6rem 1rem;
  }
}
