<div class="row no-gutters">
  <div class="col-12 pr-0 pl-0">
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
      <li [ngbNavItem]="1" class="col-3">
        <a ngbNavLink>BLOQUES</a>
        <ng-template ngbNavContent>
          <div class="contenedor">
            <div>
              <strong>Bloques disciplinarios</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre los bloques de este tipo"
                >info</mat-icon
              >
            </div>
            <div class="row no-gutters">
              <div class="col-6 col-md-3" *ngFor="let card of CardMater">
                <dynamic-cards-training
                  type="buttonCard "
                  code="{{ card.code }}"
                  title="{{ card.materia }}"
                  identify="{{ card.identificador }}"
                  color="identify-num {{ card.color }}"
                  titleButton="{{ card.button }}"
                  groups="{{ card.groups }}"
                  numCredits="{{ card.credits }}"
                ></dynamic-cards-training>
              </div>
            </div>
            <div class="stepper col-12 pl-1 pr-1 mt-4 mb-4"></div>
            <div>
              <strong>Bloque Tipo 2</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre los bloques de este tipo"
                >info</mat-icon
              >
            </div>
            <div class="row no-gutters">
              <div class="col-6 col-md-3">
                <dynamic-cards-training
                  type="buttonCard orange"
                  code="EH1001B"
                  title="Inmersión y esperimentación creativa"
                  identify="R"
                  color="identify-num orange"
                  titleButton="DISCIPLINARIA"
                  groups="3 grupos disponibles"
                  numCredits="3"
                ></dynamic-cards-training>
              </div>
            </div>
            <div class="stepper col-12 pl-1 pr-1 mt-4 mb-4"></div>
            <div>
              <strong>Bloque Tipo 3</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre los bloques de este tipo"
                >info</mat-icon
              >
            </div>
            <div class="row no-gutters">
              <div class="col-6 col-md-3">
                <dynamic-cards-training
                  type="buttonCard yellow"
                  code="EH1001B"
                  title="Inmersión y esperimentación creativa"
                  identify="R"
                  color="identify-num yellow"
                  titleButton="DISCIPLINARIA"
                  groups="3 grupos disponibles"
                  numCredits="3"
                ></dynamic-cards-training>
              </div>
            </div>
            <div class="stepper col-12 pl-1 pr-1 mt-4 mb-4"></div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" class="col-3">
        <a ngbNavLink>MATERIAS</a>
        <ng-template ngbNavContent>
          <div class="contenedor">
            <div>
              <strong>Materias disciplinarias</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre los bloques de este tipo"
                >info</mat-icon
              >
            </div>
            <div class="row no-gutters">
              <div class="col-6 col-md-3">
                <dynamic-cards-training
                  type="buttonCard "
                  code="EH1001B"
                  title="Inmersión y esperimentación creativa"
                  identify="R"
                  color="identify-num "
                  titleButton="DISCIPLINARIA"
                  groups="3 grupos disponibles"
                  numCredits="3"
                ></dynamic-cards-training>
              </div>
            </div>
            <div class="stepper col-12 pl-1 pr-1 mt-4 mb-4"></div>
            <div>
              <strong>Materias optativas</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre los bloques de este tipo"
                >info</mat-icon
              >
            </div>
            <div class="row no-gutters">
              <div class="col-6 col-md-3">
                <dynamic-cards-training
                  type="buttonCard green"
                  code="EH10021C"
                  title="Optativa de matemáticas y ciencia"
                  identify="R"
                  color="identify-num green"
                  titleButton="OPTATIVA"
                  groups="3 grupos disponibles"
                  numCredits="3"
                ></dynamic-cards-training>
              </div>
            </div>
            <div class="stepper col-12 pl-1 pr-1 mt-4 mb-4"></div>
            <div>
              <strong>Materias Tipo 3</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre los bloques de este tipo"
                >info</mat-icon
              >
            </div>
            <div class="row no-gutters">
              <div class="col-6 col-md-3">
                <dynamic-cards-training
                  type="buttonCard yellow"
                  code="EZC102D"
                  title="Nombre de mteria de este tipo de template"
                  identify="P"
                  color="identify-num yellow"
                  titleButton="TIPO 3"
                  groups="3 grupos disponibles"
                  numCredits="3"
                ></dynamic-cards-training>
              </div>
            </div>
            <div class="stepper col-12 pl-1 pr-1 mt-4 mb-4"></div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3" class="col-3">
        <a ngbNavLink>SEMANAS TEC</a>
        <ng-template ngbNavContent>
          <div class="contenedor">
            <div>
              <strong>Semanas TEC I</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre las Semanas TEC de este tipo"
                >info</mat-icon
              >
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4" class="col-3">
        <a ngbNavLink>LIFE</a>
        <ng-template ngbNavContent>
          <div class="contenedor">
            <div>
              <strong>Materias LiFE</strong>
              <mat-icon
                class="material-icons-outlined"
                aria-label="alarm icon"
                placement="top"
                ngbTooltip="Explicación sobre las Materias LiFE de este tipo"
                >info</mat-icon
              >
            </div>
            <div>
              <p>
                En caso de inscribir más de dos materias LiFE, se generará un
                costo adicional por materia LiFE que se vera reflejado en el
                Estado de Cuenta.
              </p>
            </div>
            <div class="row no-gutters">
              <div class="col-6 col-md-3">
                <dynamic-cards-training
                  type="buttonCard gray"
                  code="LiF1001B"
                  title="Arte y Cultura"
                  identify=" "
                  color="identify-num transparent"
                  titleButton="LiFE"
                  groups="3 grupos disponibles"
                  numCredits="3"
                ></dynamic-cards-training>
              </div>
            </div>
            <div class="stepper col-12 pl-1 pr-1 mt-4 mb-5"></div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-4"></div>
  </div>
</div>
